.specdal_title{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.specdal_subtitle{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.specdal_section{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}

.specdal_link_text{
    font-family: 'Lato', sans-serif;
    font-weight: 200;
}
